*.pyc
*.swp
log/
ve/
share/vim/.vim/
share/vim/.viminfo
typescript
venv/
bin/upstream
upstream/

/target

# Needed for remark language server for some reason
/node_modules
package.json
package-lock.json